button, div, form, input{
      margin: 10px;
    }

.jumbotron{
  padding-bottom: 10px;
  background-image: url(../image/concrete-wall-2.png);
  background-color: #003585;
  font-weight: bolder;
  border: 5px solid #003585;
}

.menu {
  text-align: center;
}

p{
  margin: 2px 0px 0px 0px;
  font-weight: bolder;
  padding: 0px 5px;
}

body{
  margin: 50px;
  background-image: url(../image/clean-gray-paper.png);
  background-color: #ac6a2c;
}

#display-gif{
  justify-content: center;  
}

.card {
  background-color: #003585;
  background-image: url(../image/clean-gray-paper.png);
  border-width: 5px;
  border-style: solid;
  border-color: #003585;
  padding: 2px;

  color: aliceblue;
}

h1, h2, .lead, label{
  color: white;
  font-weight: bolder;
  text-shadow: 0px 0px 4px #003585, 0px 0px 4px #003585, 0px 0px 4px #003585, 0px 0px 4px #003585;
  
}
button, #gif-buttons, #add-sport{
  border: 5px solid #003585;
}

.newSport, #add-sport{
  font-weight: bold;
}
